/**
 * @Author: mashaoze
 * @Date: 2019-06-20 10:00:00
 * @Last Modified by: mashaoze
 * @Last Modified time: 2020-08-08 10:31:27
 */
$--color-primary: $primaryColor;

$--color-success: $successColor;
$--color-warning: $warningColor;
$--color-danger: $errorColor;

$--font-size-base: $textSize;
$--font-size-small: $textSize;
$--input-small-font-size: $--font-size-small;
$--button-small-font-size: $--font-size-small;

$--color-text-primary: $textColor;
$--color-text-regular: #606060;
$--color-text-secondary: #8c8c8c;
$--color-text-placeholder: #bfbfbf;
$--disabled-color-base: $textColor;

$--border-color-base: $borderColor;
$--border-color-light: $borderColor;
$--border-color-lighter: $borderColorSecondary;

$--border-radius-base: $borderRadius;
$--button-small-border-radius: $--border-radius-base;
$--button-mini-border-radius: $--border-radius-base;
$--button-small-padding-vertical: 8px;

$--background-color-base: $backgroundColor;
$--table-border-color: $borderColorSecondary;

$--checkbox-disabled-checked-icon-color: #333;
$--radio-disabled-checked-icon-color: #666;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import '~element-ui/packages/theme-chalk/src/index';
